.ptext{
    /* height: 100px; */
    width: 180px;
  }
  .grid-container {
    background-color: #8dc9fa;
  }
  
  .grid-header {
    height: 300px;
  }
  
  .grid-Footer {
    height: 900px;
  }
  
  .grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 100%;
    font-size: 30px;
  }
  
  .grid-color-red {
    background-color: #f7b3b3;
    /* height: 100%; */
  }
  
  .grid-color-blue {
    background-color: #0429ff;
  
    /* height: 100%; */
  
  }
  
  .grid-color-black {
    background-color: #000000;
  
    /* height: 100%; */
  
  }
  
  .grid-color-green {
    background-color: #08f02f;
  
    /* height: 100%; */
  
  }
  
  .grid-scall {
    overflow-y: auto;
  }
  
  
  .Rover_List {
    /* Rover List */
    position: absolute;
    width: 180px;
    height: 240px;
    left: 20px;
    top: 208px;
    overflow-y: scroll;
    /* Contact Text */
    background: #ff0000;
    border-radius: 10px;
  }
  
  .Frame_857 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 0px;
    gap: 10px;
    width: 180px;
    height: 26px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
  }
  
  .Asset_1_2 {
    width: 25px;
    height: 26px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  
  }
  
  .text_roverlist {
    /* Rover No.001 */
    width: 111px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    /* Class Color 1 */
    color: #010101;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  
  
  .Rover_Class_final_front_1 {
    position: absolute;
    left: 12%;
    right: 12%;
    top: 11.99%;
    bottom: 12.01%;
    background: url(../img/class_front.png);
  }
  
  /* 
  .card {
    border-radius: 70px;
    box-shadow: 0 4px 80px 10 rgba(255, 255, 255, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    opacity: 1;
  } */
  
  .cardframe {
    height: 300px;
    max-width: 230px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
  }
  
  .cardframemini {
    height: 150px;
    max-width: 180px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
  }
  
  .cardframelogo {
    height: 220px;
    max-width: 200px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
  }
  
  .cardframeminize {
    height: 100px;
    max-width: 180px;
    border-radius: 25px;
    text-align: center;
    margin: auto;
  }
  
  .blackcardframe {
    background: #ffffff;
  }
  
  .Trancardframe {
    border: 2px solid #020202;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    width: 95%;
  }
  
  .buttondrive {
    background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
    background-color: #ffffff;
    border-radius: 18px;
    color: #404040;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    max-width: 200px;
    width: 100px;
    height: 50px;
    margin: auto;
  }
  
  .buttondriveclose {
    background: linear-gradient(to bottom, #000000 5%, #000000 100%);
    background-color: #000000;
    border-radius: 18px;
    color: #e73f3f;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    max-width: 200px;
    height: 50px;
    margin: auto;
  }
  
  .v-list {
    height: 240px;
    overflow-y: auto;
  }
  
  .card {
    height: 250px;
    overflow-y: auto;
    border-radius: 25px;
  }
  
  .cardStatus {
    height: 250px;
    /* overflow-y: auto; */
    border-radius: 25px;
    background-color:#ffffff;
  }
  .cardRoverlist {
    height: 170px;
    /* overflow-y: auto; */
    border-radius: 25px;
    background-color:#ffffff;
  }
  .centerList {
    align-items: center;
    top: 0%;
    left: 25%;
    margin: auto;
    /* width: auto; */
    /* -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); */
    transform: translatey(1%);
  }
  
  a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  #card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  #map-canvas {
    height: 650px;
  }
  #cardStatus {
    height: 200px;
  }
  #cardroverList {
    height: 300px;
  }
  #button-Auto-layout {
    height: 160px;
  }
  /* .centerframe {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  .card-Footer {
    width: 100%;
    height: 45vw;
    object-fit: cover;
  }
  .card-profile {
    width: 100%;
    height: 3vw;
    object-fit: cover;
  }
  .card-joy {
    width: 100%;
    height: 3vw;
    object-fit: cover;
  }
  .card-list {
    width: 100%;
    height: 16vw;
    object-fit: cover;
  } */
  
  .card-logo {
    width: 100%;
    height: 3vw;
    object-fit: cover;
  }
  
  
  
  /* CSS */
  .button-23 {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
  
  .button-23:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
  .button-23:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
  
  .button-23:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }
  
  .button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: #373B44;
  
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-89:hover,
  .button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }
  
  .button-33 {
    background-color: #c2fbd7;
    border-radius: 13px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  .buttonclose-33 {
    background-color: #fbc2c2;
    border-radius: 13px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.15) 0 1px 2px, rgba(187, 53, 44, 0.15) 0 2px 4px, rgba(236, 42, 42, 0.15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(247, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 25px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .buttonclose-33:hover {
    box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.25) 0 1px 2px, rgba(187, 44, 44, 0.25) 0 2px 4px, rgba(187, 44, 44, 0.25) 0 4px 8px, rgba(187, 44, 44, 0.25) 0 8px 16px, rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  
  .Auto_Button {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    /* Success Main */
  
    background: #4CAF50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
  .Auto_ButtonClose {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    /* Success Main */
  
    background: #c43737;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }